{% set app_url = constant('config::URL') %}
{% spaceless %}
{% autoescape false %}

<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

	<title>{{ title }}</title>

  <link rel='stylesheet' href='assets/styles/styles.css' type='text/css'/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
      <h1>Lettering Report</h1>
    </header>

    {% include '_navigation.tmpl' %}

    <section>

{% endautoescape %}
{% endspaceless %}
