{% spaceless %}
{% autoescape false %}

</section>

<footer>
  <p>Lettering Report &bullet; {{"now"|date('j F Y')}} &bullet; <a href="https://github.com/jaredhowland/lettering/issues/new">Report a Problem</a></p>
</footer>

</body>
</html>

{% endautoescape %}
{% endspaceless %}
