{% spaceless %}
{% autoescape false %}

{% include '_html_head.tmpl' %}


<table>
  <tr><th class="w6">Call Number</th><th class="w14">Title</th><th>Barcode</th><th>Control Number</th><th>ISBN</th><th>Author</th><th>Pub Date</th><th>Publisher</th></tr>
{% for record in html %}

{% if record.error %}
  <tr><td colspan="8" class="error">{{ record.error }}</td></tr>
{% else %}
  <tr>
    <td>{% if record.home_location == 'LEE-LIB' %}{{ record.call_number }}{% else %}<strong>{{ record.home_location }}</strong><br/>{{ record.call_number }}{% endif %}</td>
    <td><a href="http://search.lib.byu.edu/byu/id:byu{{ record.title_id}}">{{ record.title }}</a>{% if record.linked_title %}<br/>{{ record.linked_title}}{% endif %}</td>
    <td>{{ record.item_id }}</td>
    <td>{{ record.control_number }}</td>
    <td>{{ record.isbn }}</td>
    <td>{{ record.author }}</td>
    <td>{{ record.pub_date }}</td>
    <td>{{ record.publisher }}</td>
  </tr>
{% endif %}
  
{% endfor %}

</table>

{% include '_html_foot.tmpl' %}

{% endautoescape %}
{% endspaceless %}
